body{
    background-color: #252c24;
    background-image: url(./img/back_90_flip.jpg)
}
/* ----------  <Board> ----------- */
.mainH1{
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    background-image: linear-gradient(to right bottom, #01460c, #07530d, #10610e, #1a6f0d, #257d0a, #257d0a, #257d0a, #257d0a, #1a6f0d, #10610e, #07530d, #01460c);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 400px;
    text-align: center;
    border-radius: 5px;
    -webkit-text-stroke: 0.7px #252c24;
}
.btn{
    position: absolute;
    left: 130px;
    color: white;
    background-color: blue;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.btn:hover{
    background-color: darkblue;
}
.btnReset{
    position: absolute;
    right: 130px;
    color: white;
    background-color: red;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.btnReset:hover{
    background-color: darkred;
}
.buttons{
    position: absolute;
    width: 700px;
    top: 85px;
    left: 50%;
    transform: translate(-50%, 0%);
    
}
.points{
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    font-size: 25px;
    -webkit-text-stroke: 0.5px white;
    width: 750px;
    text-align: center;
    background-image: linear-gradient(to right bottom, #01460c, #07530d, #10610e, #1a6f0d, #257d0a, #257d0a, #257d0a, #257d0a, #1a6f0d, #10610e, #07530d, #01460c);
    border-radius: 5px;
}
.table{
    position: relative;
    top: 108px;
    left: 50%;
    transform: translate(-50%, 0%) rotate(-90deg) scaleX(-1);
    filter: FlipH;
    width: 600px;
    height: 700px;
    margin-top: 10px;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    overflow: hidden;
}
.td{
    width: 100px;
    height: 100px;
    border: 5px solid white;
    background-image: linear-gradient(to right bottom, #01460c, #07530d, #10610e, #1a6f0d, #257d0a, #257d0a, #257d0a, #257d0a, #1a6f0d, #10610e, #07530d, #01460c);

}
.div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100%, rgba(255,255,255,1) 100%);
    border: 5px solid white;
    cursor: pointer;
}
.redDiv{
    background-image: radial-gradient(circle,  #750101, #9e001a, #c0001a, #db0016, #ff0000);
    border: 5px solid white;    
}
.redDiv:before{
    content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50px;
  border: 5px solid darkred;
}
.blueDiv{
    background-image: radial-gradient(circle, #00007e, #001a9e, #001dc0, #0015cb, #2c00ff);
    border: 5px solid white;
}
.blueDiv:before{
    content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50px;
  border: 5px solid darkblue;
}

.message{
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    transform: translate(-50%, -40%);
    font-size: 40px;
    background-image: linear-gradient(to right bottom, #01460c, #07530d, #10610e, #1a6f0d, #257d0a, #257d0a, #257d0a, #257d0a, #1a6f0d, #10610e, #07530d, #01460c);    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-text-stroke: 0.7px white;
}
.div[disabled]{
    pointer-events: none;
}
table[disabled]{
    pointer-events: none;
  }
  .logOutBtn{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: blue;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .turn{
      position: absolute;
      top: 90px;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 135px;
      height: 25px;
      border-radius: 5px;
      text-align: center;
      color: white;
      border: 2px dashed white;
  }
  .turnName{
      position: absolute;
      top: 65px;
      left: 50%;
      transform: translate(-50%, 0%);
      color: white;
  }
  /* -------   <Login>  -------- */
.loginMain{
    position: relative;
    width: 600px;
    height: 100px;
    background-image: linear-gradient(to right bottom, #01460c, #07530d, #10610e, #1a6f0d, #257d0a, #257d0a, #257d0a, #257d0a, #1a6f0d, #10610e, #07530d, #01460c);    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 5px solid white;
    border-radius: 10px;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -0%);
}
.loginTextInput1{
    position: absolute;
    top: 15px;
    left: 40px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding: 3px;
    border: none;
    font-size: 25px;
    outline: none;
    color: red;
}
.loginTextInput1::placeholder{
    color: red;
    text-align: center;
}
.loginTextInput2{
    position: absolute;
    top: 15px;
    right: 40px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding: 3px;
    border: none;
    font-size: 25px;
    outline: none;
    color: blue;
}
.loginTextInput2[disabled]{
    opacity: 0.6;
    pointer-events: none;
}
.loginTextInput2::placeholder{
    color: blue;
    text-align: center;
}
.loginBtn{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    background-color: blue;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.loginBtn:hover{
    background-color: darkblue;
}
.loginBtn:disabled{
    background-color: darkblue;
    color: gray;
}
.vs{
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    font-size: 25px;
}
.loginH1{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    background-image: linear-gradient(to right bottom, #01460c, #07530d, #10610e, #1a6f0d, #257d0a, #257d0a, #257d0a, #257d0a, #1a6f0d, #10610e, #07530d, #01460c);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 400px;
    text-align: center;
    border-radius: 5px;
    -webkit-text-stroke: 0.7px #252c24;
}
.loginAi{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    font-size: 18px;
    border: 2px dashed white;
    padding: 3px;
    border-radius: 5px;
}