body{
    background-color: #252c24;
}
h1{
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    background-image: linear-gradient(to right bottom, #01460c, #07530d, #10610e, #1a6f0d, #257d0a, #257d0a, #257d0a, #257d0a, #1a6f0d, #10610e, #07530d, #01460c);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 200px;
    text-align: center;
    border-radius: 5px;
    -webkit-text-stroke: 0.7px #252c24;
}
.btn{
    margin-right: 200px;
    color: white;
    background-color: blue;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.btn:hover{
    background-color: darkblue;
}
.btnReset{
    margin-left: 200px;
    color: white;
    background-color: red;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.btnReset:hover{
    background-color: darkred;
}
.buttons{
    position: absolute;
    width: 700px;
    top: 100px;
    left: 53%;
    transform: translate(-53%, 0%);
}
.points{
    position: absolute;
    top: 93px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    font-size: 25px;
    -webkit-text-stroke: 0.5px white;
}
.table{
    position: relative;
    top: 85px;
    left: 50%;
    transform: translate(-50%, 0%) rotate(-90deg) scaleX(-1);
    filter: FlipH;
    width: 600px;
    height: 700px;
    margin: 10px;
    border-collapse: collapse;
    background-image: linear-gradient(to right bottom, #01460c, #07530d, #10610e, #1a6f0d, #257d0a, #257d0a, #257d0a, #257d0a, #1a6f0d, #10610e, #07530d, #01460c);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    overflow: hidden;
}
.td{
    width: 100px;
    height: 100px;
    border: 5px solid white;
}
.div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background-color: white;
    border: 5px solid white;
    cursor: pointer;
}
.message{
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    transform: translate(-50%, -40%);
    font-size: 40px;
    background-image: linear-gradient(to right bottom, #01460c, #07530d, #10610e, #1a6f0d, #257d0a, #257d0a, #257d0a, #257d0a, #1a6f0d, #10610e, #07530d, #01460c);    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-text-stroke: 0.7px white;
}
div[disabled]{
  pointer-events: none;
}
table[disabled]{
    pointer-events: none;
  }
